<div class='upgrade-cta' lang='fr'>
    {{#has visibility='public'}}
        <h2>
            Cet article est réservé abonneés de la newsletter
        </h2>
        <p>
            Rejoignez les
            {{total_members}}
            développeurs membres de notre communauté et accédez au contenu
            réservées aux abonnés de la newsletter.
        </p>

        <a href='#/portal/signup' class='button'>S'inscrire à la newsletter</a>
        {{! <p class='switch'>
            Déjà membre?
            <a href='/login/'>Se connecter</a>
        </p> }}
    {{else}}
        {{#has tag='#additional-content'}}
            <h2>
                Cet article gratuit contient du contenu supplémentaire pour les
                membres
                {{#has visibility='tiers'}}
                    du Mindsers Courses
                {{else}}
                    premuim
                {{/has}}
            </h2>
        {{else}}
            <h2>
                {{#has tag='#issue'}}
                    Ce numéro de newsletter
                {{else}}
                    Cet article génial
                {{/has}}
                est réservé aux membres
                {{#has visibility='tiers'}}
                    du Mindsers Courses
                {{else}}
                    premium
                {{/has}}
            </h2>
        {{/has}}
        <p>
            Rejoins nos élèves, et découvre du contenu exclusif. Tu
            pourras aussi lire en avant première tous les nouveaux articles !
        </p>

        {{#if @custom.global_cta_url}}
            <a
                href='{{@custom.global_cta_url}}'
                class='button'
            >{{@custom.global_cta_text}}
            </a>
        {{else}}
            <a href='https://courses.mindsers.blog/' class='button'>Je découvre
                les cours !</a>
        {{/if}}
    {{/has}}
</div>